PORT=3000
HOST=0.0.0.0
FRONTEND_URL=http://localhost:5173

MINIMUM_PASSWORD_LENGTH=8
CONTACT_NUMBER_LENGTH=11
SALT_ROUND=10

DB_HOSTNAME=localhost
DB_USER=root
DB_PASSWORD=replace-me
DB_NAME=rise-to-rice

ACCESS_TOKEN_SECRET=replace-me
REFRESH_TOKEN_SECRET=replace-me

NODEMAILER_EMAIL_ADDRESS=replace-me@example.com
NODEMAILER_EMAIL_PASSWORD=replace-me
NODEMAILER_SMTP_HOST=smtp.example.com
NODEMAILER_SMTP_PORT=465
